/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #1E1F1F;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  border-style: ridge;
  border-color: lightgrey;
  border-width: 5px;
  height: 98.5%;
  margin: 0%;
  padding: 0;
  }

p, ul, li {
  font-family: 'VT323', monospace;
  color: #4CA952;
  margin-left: 10px;
  line-height: 20px;
}

#windowname {
  background-color: #4444b3;
  color: lightgrey;
  border-bottom-style: ridge;
  border-color: lightgrey;
  border-width: 5px;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
}

#logo {
 width: 100px;
 height: 100px;
 bottom: 20px;
 right: 20px;
 position: absolute;
 position: fixed;
}

#active {
  color: #d13db1;
}

#button3 {
  background-color: lightgrey;
  border-color: lightgrey;
  border-style: outset;
  color: #1E1F1F;
  border-width: 2px;
  position: absolute;
  top: 8px;
  right: 8px;
}

#button2 {
  background-color: lightgrey;
  border-color: lightgrey;
  border-style: outset;
  color: #1E1F1F;
  border-width: 2px;
  position: absolute;
  top: 8px;
  right: 26px;
}

#button1 {
  background-color: lightgrey;
  border-color: lightgrey;
  border-style: outset;
  color: #1E1F1F;
  border-width: 2px;
  position: absolute;
  top: 8px;
  right: 45px;
  padding-right: 2px;
  padding-left: 2px;
}
